.healthCampaigns{
    margin-top: 2%;
}

.healthCampHeading{
    font-size: 25px;
    height: 35px;
    /* color: #fff; */
    /* background-color: #d0bb68; */
    background-color: #4285F4;
    color: #fff;
    padding-left: 20px;
    padding-left: 5%;
}
.healthCampContent{
    margin-top: 5%;
    padding-left: 5%;
    text-align: justify;
}

.DeptDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}