.GeneralInfo{
    width: 100%;
    margin: auto;
    height: max-content;
    margin-top: 2%;
}
.genInfoHeading{
    font-size: 25px;
    height: 35px;
    /* background-color: #d0bb68; */
    background-color: #4285F4;
    color: #fff;
    padding-left: 5%;
}
.genInfoDo{
    font-size: 24px;
}
.genInfoContent{
    margin-top: 5%;
    padding-left: 5%;
}
.genInfoContent ul{
    margin-left: 5%;
}