.ipdInfo{
    width: 90%;
    margin: auto;
    height: max-content;
    margin-top: 2%;
}
.ipdInfoHeading{
    font-size: 30px;
    height: 35px;
    background-color: #d0bb68;
    padding-left: 20px;
}
.ipdContent{
    margin-top: 5%;
}
.ipdContentOverview{
    font-weight: bold;
}

.ipdInfoService{
    font-size: 20px;
    font-weight: bold;
}