.rightsAndRes{
    margin-top: 2%;
}
.rightsResHeading{
    height: 35px;
    background-color: #4285F4;
    color: #fff;
    
}

.rightsContent{
    margin-top: 5%;
    padding-left: 5%;
    text-align: justify;
}
.rightsContent ul{
    margin-left: 5%;
}
.rightHeading{
    font-size: 20px;
    font-weight: bold;
}