.Visitor{
    /* width: 90%; */
    margin: auto;
    height: max-content;
    margin-top: 2%;
    height: 500px;
}
.visitorHeading{
    font-size: 25px;
    height: 35px;
    /* background-color: #d0bb68; */
    background-color: #4285F4;
    color: #fff;
    padding-left: 5%;
}
.visitorInfoContent{
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.visitorInfoContent li{
    margin-left: 5%;
}
.visitTopic{
    font-weight: bold;
}