.departmentType{
    margin-top: 1%;
}

.deptNameHeading{
    font-size: 25px;
    height: 35px;
    
    background-color: #d0bb68;
    
    padding-left: 5%;
    
}
.deptContent{
    margin-top: 5%;
    width: 70%;
    padding-left: 1%;
    text-align: justify;
    font-weight: bold;
}
.DeptDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}