.departmentType{
    margin-top: 1%;
}

.deptNameHeading{
    height: 35px;
    background-color: #4285F4;
    color: #fff;
    
}
.deptContent{
    margin-top: 5%;
    text-align: justify;
    margin-left: 5%;
    padding-bottom: 2%;
    margin-right: 2%;
}
.DeptDivision{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .DeptDivision{
        display: flex;
        justify-content: space-around;
    } 
}
@media (max-width: 480px){
       .deptContent {
        font-size: 14px !important;
      }
}


