.aboutUsHistory{
    /* width: 90%; */
    margin: auto;
    margin-top: 1%;
    /* background-image: url("../gallery/pictur
    es/HOSPL\ PANORAMIC\ IMG\ JPG.jpg"); */
    background-size: cover;
    
}
.aboutUsHeadinghistory{
    font-size: 25px;
    height: 35px;
    color: #fff;
    /* background-color: #d0bb68; */
    background-color: #4285F4;
    padding-left: 20px;
    padding-left: 5%;
}
.aboutUsContenthistory{
    background-color: #fff;
    margin-top: 5%;
    /* width: 60%; */
    text-align: justify;
    font-weight: bold;
    padding-left: 5%;
}
.menuBar{
    /* background-color: #d0bb68; */
}
.DeptDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}