.management{
    margin-top: 1%;
}

.mngtHeading{
    font-size: 25px;
    height: 35px;
    color: #fff;
    /* background-color: #d0bb68; */
    background-color: #4285F4;
    padding-left: 20px;
    padding-left: 5%;
}
.mngtContent{
    margin-top: 5%;
    /* width: 60%; */
    padding-left: 5%;
    text-align: justify;
    font-weight: bold;
}
.DeptDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}