.vision{
    margin-top: 1%;
    
}
.visionHeading{
    
    height: 35px;
    color: #fff;
    background-color: #4285F4;
    
}

.visionContent ol{
    margin-left: 5%;

}
.visionContent{
    margin-top: 1%;
    /* width: 60%; */
    padding-left: 5%;
    text-align: justify;

}
.visionIntro{
    /* font-weight: bold; */
    
}
.DeptDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 480px){
    .visionContent{
        font-size: 14px;
    
    }
}