.aboutUs{
    /* width: 60%; */
    /* margin: auto; */
    /* border-right : 1px solid #d0bb68; */
}
.headingAboutUs{
    /* color: #2f3082; */
    color: #fff;
    font-weight: 600;
    padding: 3% 1% 0 1%;
    text-align: center;
}
.contentAboutUs{
    width: 90%;
    text-align: justify;
    padding-top: 4%;
    margin: auto;
    color: #fff;
    font-size: 17px;
}