.bgAnnouce{
    
    width: 100% !important;
    /* background-image: url("./gallery/pictures/HOSPL\ PANORAMIC\ IMG\ JPG.jpg"); */
    height: 600px;
    background-size: cover;
   
    z-index: 1;
}


.headingAnnouce{
    width: 100%;
    text-align: center;
    color: #4284f4;
    padding-top: 3%;
}
.announce{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    padding-top: 2%;
    /* background-color: #fff; */
}


.annoucebox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    /* border-radius: 5px; */
    color:#000;
    padding: 0% 2% 1% 2%;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    /* background: linear-gradient(0.40turn, #fff, #fff, #FBBC05); */
    /* background: linear-gradient(45deg, #fff 0% 15%,#A2AAAD 96% 100%); */
}

.annouceIcon {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    /* margin: auto; */
    /* background-color:#d0bb68; */
    /* background-color:#d0bb68; */
    color: #fff;
}

.annouceIcon svg{
    font-size: 40px ;
    color: #fff;
    text-align: center;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin: auto; */
    
}

.annouceContent{
    width: 75%;
    /* background-color: #fff; */
    padding: 2%;
    border-radius: 5px;
    color: #fff;

}
#full{
    background-image: url("./gallery/pictures/home1.jpg") !important;
    width: 700px !important;
    background-size: cover !important;

}