.bgAnnouce{
    /* position: absolute; */
    width: 100% !important;
    background-image: url("./gallery/pictures/HOSPL\ PANORAMIC\ IMG\ JPG.jpg");
    height: 600px;
    background-size: cover;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    z-index: 1;
}

.announceBar{
    /* position: relative; */
    width: 35%;
}
.headingAnnouce{
    font-size: 30px;
    text-align: center;
    color: #2f3082;
    background-color: #fff;
}
.announce{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    /* background-color: #fff; */
}

.annoucebox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    /* border-radius: 5px; */
    padding: 1% 2% 1% 2%;
    border-bottom: 1px solid #2f3082;
    background-color: #fff;
    /* background: linear-gradient(0.40turn, #fff, #fff, #FBBC05); */
    /* background: linear-gradient(45deg, #fff 0% 15%,#A2AAAD 96% 100%); */
}

.annouceIcon {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    /* margin: auto; */
    background-color:#d0bb68;
    color: #fff;
}

.annouceIcon i{
    font-size: 40px ;
    color: #fff;
    text-align: center;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin: auto; */
    
}

.annouceContent{
    width: 75%;
    /* background-color: #fff; */
    padding: 2%;
    border-radius: 5px;
    /* color: #4285F4; */
}