.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    height: 400px;
}

.footer1{
    background-image: url("./gallery/pictures/background\ Contact\ Us.jpg");
    background-size: cover;
    height: fit-content;
    margin-top: 5%;
}

.bottomBar{
    background-color: #4285F4;
    height: 20px;
    text-align: center;
    color: #fff;
}

.headingFooterContact{
    font-size: 30px;
    text-align: center;
    background-color: #4285F4;
    height: 40px;
    width: 100%;
}