.home{
    
}

.aboutUsAndAnnouce{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.testAndYou{
    display: flex;
    flex-direction: row;
    background-image: url("./gallery/homebackground.jpg");
    background-size: cover;
}