.readMore{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.readMe{
    width: fit-content;
    text-align: center;
    border: 1px solid #4285F4;
    margin: auto;
    padding: 1%;
    border-radius: 4px;
    background-color: #fff;

    
}
.readMe a{
    text-decoration: none;
    color: #4285F4;

}