
.slides{
    width: 100%;
    position: relative;
    height: 500px;
    overflow: hidden;
    
}

.slide{
    position: absolute;
    width: 100%;
    height: 500px;
    transition-delay    : 3s;
    
}
.slide0{
    /* z-index: 1; */
    /* transition-delay: 2s; */
    transition-delay: 3s;
}
 .slide1,.slide2, .slide3{
    position: absolute;
    width: 100%;
    height: 500px;
    display: none;
    /* transition-delay: 3s; */
    transition-delay: 3s;
}

.innerSlide{
    width: 90%;
    height: 90%;
    margin: auto;
}

.innerSlide img{
    height: 100%;
    width: 100%;
}
.slide1Content{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    /* background-color:#68d388; */
    /* background-color:#A2D9FF; */

    z-index: 1;
}
.slide1Image{
    width: 40%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

}
.slide1Image img{
    height: 100%;
    width: 100%;
}

.slide1WrittenPart{
    width: 50%;
    height: 100%;
    margin: auto;
    color: 	#4285F4;
}
.biggerSlide1{
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
    height: 25%;
    text-transform: uppercase;
    /* color: #fff; */
}
.smallerSlide1{
    font-size: 18px;
    text-align: center;
    z-index: 2;
    /* text-transform: uppercase; */
}
.slide1{
    width: 100%;
    height: 500px;
}
.slide1 img{
    width: 100%;
    height: 100%;
}

.slide1 svg{
    bottom: 0px;
    position: absolute;
    z-index: 0;
}

.slide2Image{
    width: 40%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

}
.slide2Image img{
    height: 100%;
    width: 100%;
}

.slide2 svg{
    bottom: 0px;
    position: absolute;
    z-index: 0;
}
.slide3 svg{
    bottom: 0px;
    position: absolute;
    z-index: 0;
}

.slide2WrittenPart{
    width: 50%;
    height: 100%;
    margin: auto;
    color: #4285F4;
}

.biggerSlide2{
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
    height: 25%;
    text-transform: uppercase;
    color: #d0bb68;
    margin-left: 5%;
}
.smallerSlide2{
    font-size: 18px;
    /* margin-left: 5%; */
    text-align: center;
    width: 100%;
    margin: auto;
    /* text-transform: uppercase; */

}
.biggerSlide3{
    text-align: center;
    font-size: 45px;
    margin-top: 15%;
    height: 25%;
    text-transform: uppercase;
    color: #d0bb68;
    margin-left: 5%;
}
.smallerSlide3{
    font-size: 18px;
    margin-left: 5%;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    /* text-transform: uppercase; */

}
.slide3 img{
    height: 100%;
    width: 100%;
}



.left{
    position: absolute;
    z-index: 2; 
    top: 250px;
    left: 0%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.right{
    position: absolute;
    z-index: 2;
    top: 250px;
    right: 0%; 
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.left:hover ,.right:hover{
    background-color: #fff;
    color: #4285F4;
    cursor: pointer;
}
.left, .right   {
    color: #4285F4;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}
.right i{
    margin-left: 5px;
}

.number{
    position: absolute;
    z-index: 2;
    top: 450px;
    right: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #4285F4;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}