
.headingTest{
    font-size: 30px;
    color: #2f3082;
    text-align: center;
    width: 100%;
}
/* .testimonial{
    height: fit-content;
    width: 50%;
    overflow-x: hidden;
    background-color: #d0bb68;
    border-radius: 10px;
    background-size: cover;
} */
.reviewContent{
    background-color: #4285F4;
    color: #fff;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 1%;
    /* border: 2px solid #4285F4; */
    /* border: 2px solid #ffd700; */
    border-radius: 5px;
    padding: 3%;
    height: max-content;
}
/* .leftReview , .rightReview{
    position: relative;
    width: fit-content;
}
.leftReview{
    top : -40%;
    left:7%
}

.rightReview{
    top: -45%;
    left: 90%;
}

.leftReview:hover, .rightReview:hover{
    color: #4285F4;
    cursor: pointer;
}




.testimonialInner{
    width: 500%;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -200%;/
    transition: 2s;
}
.testimonialInner:hover{
    cursor: pointer;
}
.review{
    width: 20%;
    
    height: 50%;
    margin: auto;
    
} */