.youtube{
    width: 40%;
    height: 400px;
    margin: auto;
    max-width: 100%;
}

.topYoutube{
    width: 80%;
    margin: auto;
}
iframe{
    margin:auto ;
    width: 100%;
    height: 180px;
}

.bottomYoutube{
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomYoutube iframe{
    width: 80%;
    height: 100%;
    margin-right: 15px;
}